


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 40vh;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 10px;
    border-radius: 15px;
    border-color: rgba(130, 132, 133, 0.932);  
    border-style: solid;
    background-color:rgba(150, 150, 150, 0.575);
    color: black;
}

.card_cont{
    margin-top: -10px;
    font-size: 25px;
    margin-top: 10px;
}

.card_name{
    font-size: 30px;
    margin-top: 5px;
}


.card_img{
    margin-top: 25px;
    width: 15vw;
    height: 20vh;
}


