.title{
    color: rgb(179, 192, 204);
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

/* https://thumbs.gfycat.com/BlandHelplessImperatorangel-size_restricted.gif */
.landingpadre{
    width: 100%;
    height: 100%;
 position: absolute;
    color: antiquewhite;
    background-image: url("https://thumbs.gfycat.com/BlandHelplessImperatorangel-size_restricted.gif");
    background-size: cover;
  }


.bttn{
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    background-color: rgb(5, 5, 5);
    color: white;
    font-size: 35px;
    border: none;
    padding: 8px 20px;
    transition: 1s ease;

}
.bttn:hover{
    background-color:blanchedalmond;
    color: black;

}